* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Form container */
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(195, 167, 140, 0.1);
}

/* Form fieldset styles */
fieldset {
    margin-bottom: 100px;
}

/* Form label styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Form input styles */
input[type="text"],
select {
    width: 100%;
    padding: 1px;
    border: 10px solid #eeebeb;
    border-radius: 4px;
    font-size: 16px;
}

/* Form file input styles */
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Form button styles */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #4f1111;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Form button hover styles */
button:hover {
    background-color: #971e93;
}

/* Form button offset */
.offset-button {
    margin-left: 200px;
}


#navbar {
    background-color: #36439c; 
    color: #247a54; 
    padding: 10px 0; 
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.home-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
    background-size: cover;
    border-radius: 200%; 
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-item {
    margin-right: 20px; 
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.img-size {
    width: 150px; /* Adjusted width for smaller photo */
    height: auto; 
}

.navbar-link:hover {
    background-color: #626054; 
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #2e438b;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

main {
    padding: 20px;
}